/* Web Fonts -------------------- 

@font-face {
  font-family: 'Abolition Regular';
  src: url('../fonts/abolition-regular-webfont.eot');
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolition-regular-webfont.ttf') format('truetype'); */
}

/* Base Styles -------------------- */

* {
  box-sizing: border-box;
}

body {
  color:blue; /* was #878787*/
  margin: 0;
  font: 1em/1.5 "Helvetica Neue", bold, Helvetica, Arial, sans-serif;



  }

}
#wrapper {
  width: 100%;
}
/*h1,
h2 {
  font-family: 'Abolition Regular', Helvetica, Arial, sans-serif;
}*/

button {
 /* background: blue/*#dae1e4;*/
 background:none;
  border: none;
  border-radius: 10px;
  color: red/*#1d3c6a*/;
  font-size: 30px;
  width: 300px;
  padding: 10px 0;
  margin: -40px -20px;
  outline: none;
  cursor: pointer;
  font-weight: bolder;
}

h1 {  
  font-size: 2rem; /* 90px/16px  */
  color: black;
  /*text-transform: uppercase;*/
  font-weight: bold;
  line-height: 1.3; 
  /*text-shadow: 0 1px 1px rgba(0,0,0,.8);*/
  margin: 12px 0 0;
  /*background:white;*/
}

h2 {
  display: inline-block;
  font-size: 1.5em; /* 53px/16px  */
  font-weight: bold;
  line-height: 1.1;
  margin: 0 0 .5em; /* 0 0 26px */
  padding: 20px 15px;
  border:50px;  /* this is new */
  

    /*display: inline-block;
  font-size: 3.3125em; /* 53px/16px  
  font-weight: normal;
  line-height: 1.1;
  margin: 0 0 .5em; *//* 0 0 26px */
}

h2:hover{
  color: blue;
}

h3 {
  font-size: 1.5em; /* 20px/16px  */
  color: black/*#48525c*/;
  line-height: 1.2;
  margin-bottom: 1.7em; /* 34px */
  font-weight: bolder;
}

p {
font-size: 1.25em;

}

img {
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

ul,
ol {
  margin: 10px 0;
}

li {
  margin-bottom: 10px;
}

/* Pseudo-classes ------------------ */

a:link {
  color: rgb(255, 169, 73);
  text-decoration: none;
}

a:visited {
  color: blue;
}

a:hover {
  color: blue;/*rgba(255, 169, 73, .4);*/
}


a:active {
  color: lightcoral;
}

/* Main Styles --------------------- */

.main-header {
  padding-top: 10px;
  height: 0px;
  /*background:blue;*/
  /*background: linear-gradient(#ffa949, transparent 90%),
              linear-gradient(0deg, #fff, transparent),
              #ffa949 url('../img/mountains.jpg') no-repeat center;*/
  /*background-size: cover;*/
}
  
  #wrapper {
    background: url('../img/volleyball2.jpg');
     background-repeat: no-repeat;
    background-position: center center;

    /*background-attachment: fixed; this was commented out before*/
    
    background-size: cover;
    width:100%;
    width: auto;
    height: auto;
    opacity:0.6;

    /* this was commented out before 100% no-repeat;
    opacity:0.6;
    background-size: cover;
    width: auto;
    height: auto;

              /*linear-gradient(0deg, #fff, transparent);*/
              /*background-image: url(../'img.mountains.jpg')/*blue*/
}

.title {
  color: black;
  font-size: 3rem; /* 26px/16px */
  letter-spacing: .065em;
  font-weight: bolder;
  border-bottom: 2px solid;
  padding-bottom: 10px;
  /*background:white;*/
}


.intro {
  font-size: 2rem; /* 20px/16px */
  font-weight: bolder;
  line-height: 1.6; 
  text-align:center; /* this is new*/
  padding-top: 0px; /* this is new*/
}

.primary-content,
.main-header,
.main-footer {
  text-align: center;
}

.primary-content {
	padding-top: 25px;
  padding-bottom: 95px;
  color:black;
  font-weight: bolder;
  /*background:green;*/
  /*background: url('../img/mountains.jpg') 100% no-repeat;*/
}

.secondary-content {
	padding-top: 80px;
	padding-bottom: 70px;
  border-bottom: 2px solid #dfe2e6;
  /*background: url('../img/mountains.jpg') 100% no-repeat;*/
}

.callout {
  font-size: 1.25em;
  /*border-bottom: 3px solid;*/
  padding: 0 9px 3px;
  margin-top: 20px;
  display: inline-block;
}

.main-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 10px solid #ffa949;
  background:lightgray;
}

.t-border {
  /*border-top: 2px solid blue/*#dfe2e6*/;*/
  text-align: center; /* this is new*/


}

/* Layout Styles ------------------ */

.primary-content, 
.secondary-content
 {
  /*width: 75%;*/
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
}

.secondary-content {
/*background:tomato;*/}

.choices {
  color: black;
  text-align: center;
  padding: 6% 15%;
  /*border-radius: 10px;*/
  /*background:red;*/}

.excite {
background:lightgray;
text-align:center;
border-radius: 10px;

}

.prep{
background:lightgray;
text-align:center;
border-radius: 10px;
margin-right:10px;
  }

.spoiler {
  /*background: #1d3c6a;*/
  /*width: 440px; */
  margin: 0 auto ; /*was 20px */
  border-radius: 5px;
  /*padding: 40px 20px;*/
  text-align: center;
  font-size: 24px
  font-weight: bolder;
  color:red;
}
.spoiler span {
  font-size: 30px;
  font-weight: bolder;
  color:red;/*color: #dae1e4;*/
}

/* Turning this part off is critical to the links going across versus down

  padding: 18% 24%;

  border-top: 10px solid #ffa949;
  margin: 105px 0 60px;
  background: #434a52 url('../img/bear.jpg') no-repeat center;
  background-size: cover;
  box-shadow: inset 0 0 50px 10px rgba(0,0,0, .8);
  border-radius: 10px;
}

*/
/*.arrow {
  width: 50px;
  margin-top: 150px;
}*/

/* Floated Columns ------------------ */

.excite li {
  text-align:left;
  color:black;
  font-weight:bold;
}

.excite p {
  text-align:left;
  color:black;
  font-weight:bold;
  margin-left: 10px;
}

.prep li {
  text-align:left;
  color:black;
  font-weight:bold;
  
}

.prep p {
  text-align:left;
  color:black;
  font-weight:bold;
  margin-left: 10px;
}

.excite,
.prep {
  width: 46.5%;

}

.prep {
  float: left;
}

.excite {
  float: right;

}

/* Float Clearfix ------------------ */

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Media Queries -------------------- */

@media (max-width: 1024px) {
  .primary-content,
  .secondary-content,
  .spoiler span,
   /* {width: 90%;}*/

  .choices,
  button {
    padding: 10% 12%;
    margin: 50px 0 20px;
  }
}

@media (max-width: 768px) {
  .primary-content,
  .secondary-content,
  .spoiler span, 
  button {
    /*width: 100%;*/ 
    padding: 20px;
    border-top: none;
    font-size: 1.5rem;
  }
  .main-header {
    max-height: 380px;
    padding: 50px 25px 0;
  }
  .title {
    font-size: 2rem;
    border: none;
  }

  h1 {
    font-size: 1.3rem;
    border: none;
  }

   .choices {
    font-size: .8rem;
    border: none;
  }

  span {                /*  was h1*/
    font-size: 1rem;    /* was 5rem   */
    line-height: 1.1;
  }
  .arrow {
    display: none;
  }
  .intro,.spoiler{
    font-size: 1.5rem;
  }
  .excite,
  .prep {
    float: none;
    width: 100%;}
    
    /*height:100%;*/

  .excite li,.prep li{
    font-size:1rem;
  }

  .excite p, .prep p {
     font-size:1.5rem;
  }

  .excite h3, .prep h3 {
     font-size:2rem;
  }
 
  .main-footer {
    padding: 20px 0;
  }
}














